*{
    padding: 3px;
    font-family: monospace;
}


h3{
   margin: 1px; 
   font-size: 15px;
   font-family: monospace;

}

h2{
    margin: 1px;
    border: inset;
    margin: 3px;
    border-radius: 5px;
    padding: 3px;
}

hr{
    padding: 1;
    background-color: black;
    border-radius: 5px;
    margin: 1px;
    border: none;
}